<main class="landing">
    <h1>TEXTILE ART COMMUNITY ART SPACE</h1>
    <%= image_tag"Gail_cover.png"%>
    <%# <p>
    <% Meet our artists and makers, working together to create a community of like-minded creatives. %>
    <%# </p> %> 
</main>
